body {
    font-family: sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;

}
/* Estilos para colocar la imagen al lado del logo */
header .container {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    height: 960px;
    margin-left: 30px;
}

header img {
    max-height: 80px; /* Ajusta este valor para que la imagen no sea más grande que el logo */
    margin-left: 20px;
    border-radius: 50%; /* Esto hace que la imagen sea redonda */
    object-fit: cover; /* Esto asegura que la imagen cubra todo el círculo sin deformarse */
    margin-top: 20px;
}
.container1 {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;

}
@media (max-width: 768px) {
    .container {
        width: 100%;
    }
    .sidebar {
        display: none; /* Ocultar la barra lateral en tablets */
    }
    nav ul {
        flex-direction: column; /* Menú vertical en tablets */
    }
}

@media (max-width: 480px) {
    .menu {
        display: none;
    }
    h1 {
        font-size: 24px; /* Título más pequeño en móviles */
    }
    .imagen {
        width: 100%; /* Imágenes ocupan todo el ancho */
    }
}

header {

    background-image: url("static/logo.gif");
    background-repeat: no-repeat;
    background-size: 20% auto ; /* Ajustar la imagen al contenedor */
    background-position:center; /* Centrar la imagen */
    background-clip: border-box;


    /* ... otros estilos de header ... */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #dc3545;
    text-align: center;

}

nav ul li {
    display: inline-block; /* Mejora para la responsividad */
    margin: 10px;
}
.mi-iframe {
    width: 800px;
    height: 100px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 8px 15px; /* Mejora visual */
}

section {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #007bff;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    /* Eliminamos "position: fixed" para un footer normal */
}

